<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanulso.mapper.BoardMapper">
	
<sql id="criteria">
	<choose>
		<when test="type == 'title'.toString()">(title like '%'||#{keyword}||'%') and </when>
		<when test="type == 'content'.toString()">(content like '%'||#{keyword}||'%') and </when>
		<when test="type == 'writer'.toString()">(writer like '%'||#{keyword}||'%') and </when>
	</choose>
</sql>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select board_bno_seq.nextval from dual
		</selectKey>
		insert into tbl_board (bno, title, content, writer) values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="getList" resultType="com.hanulso.domain.BoardVo">
		<![CDATA[
		select 
				* 
		from 
				(select 
					/*+ index_desc (tbl_board tbl_board_pk) */ 
					rownum rn, bno, title, content, writer, regdate, updatedate 
				from 
					tbl_board  
				where 
					rownum <= #{pageNum} * #{amount}
				)
		where rn > (#{pageNum} - 1) * #{amount} 
		]]>
	</select>
	<select id="getListPaging" resultType="com.hanulso.domain.BoardVo">
		<![CDATA[
		select 
				* 
		from 
				(select 
					/*+ index_desc (tbl_board tbl_board_pk) */ 
					rownum rn, bno, title, content, writer, regdate, updatedate 
				from 
					tbl_board  
				where 
		]]>
					<include refid="criteria"/>
		<![CDATA[
					rownum <= #{pageNum} * #{amount}
				)
		where rn > (#{pageNum} - 1) * #{amount} 
		]]>
	</select>
	
	<select id="getBoardCount" resultType="int">
		select count(*) as count from tbl_board
	</select>
	<select id="getBoardCountPaging" resultType="int">
		<![CDATA[
		select 
			count(*) as count 
		from (select 
					/*+ index_desc (tbl_board tbl_board_pk) */ rownum rn 
			 from 
			 	tbl_board 
			 where
		]]>		
				<include refid="criteria"/>
		<![CDATA[
				rownum <= #{pageNum} * #{amount}			 
			 )
		where
			rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getDetail" resultType="com.hanulso.domain.BoardVo">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<select id="getNext" resultType="com.hanulso.domain.BoardVo">
		<![CDATA[
		select * from (select * from tbl_board order by bno asc) where bno > #{bno} and rownum = 1
		]]>
	</select>

	<select id="getPrev" resultType="com.hanulso.domain.BoardVo">
		<![CDATA[
		select * from (select * from tbl_board order by bno desc) where bno < #{bno} and rownum = 1
		]]>
	</select>
	
	<update id="updateBoard">
		update tbl_board set title = #{title}, content = #{content}, updatedate = sysdate where bno = #{bno}
	</update>
	
	<delete id="deleteBoard">
		delete from tbl_board where bno = #{bno}
	</delete>
	
</mapper>